<p style="color: green"><%= notice %></p>

<%= image_tag @image.url, style: 'height:400px;width:400px;margin-bottom:20px;' %>

<div>
  <%= render partial: 'image', locals: { image: @image } %>

  <br>

  <%= link_to "Edit this image", edit_image_path(@image) %> |
  <%= link_to "Back to images", images_path %>

  <br>

  <%= button_to "Destroy this image", @image, method: :delete %>
</div>